<section>

    <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
            <img src="https://placehold.co/600x400"
                 class="img-fluid shadow-3 rounded" alt="Sample image" />
        </div>
        <div class="col-lg-6 lead">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione
                quisquam, dicta
                ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque animi maxime.</p>

            <p>Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus
                voluptatum, magni
                impedit eaque delectus, beatae maxime temporibus maiores quibusdam quasi rem magnam.</p>

            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-check me-2"></i>Nemo animi soluta ratione</li>
                <li><i class="fas fa-check me-2"></i>Beatae maxime temporibus</li>
                <li><i class="fas fa-check me-2"></i>Consectetur adipisicing elit</li>
            </ul>
        </div>
    </div>

</section>