<section class="mb-9">

    <style>
        @media (max-width: 767px) {
            #streak {
                height: 700px !important;
            }
        }
    </style>

    <div id="streak" class="bg-image bg-fixed text-center"
         style="background-image: url('https://blog.ipleaders.in/wp-content/uploads/2020/12/female-attorney-talking-and-gesturing-in-legal-trial-courtroom-713774785-5b4fc86f46e0fb005b551eca-696x464.jpg'); height: 400px;">
        <div class="mask" style="background-color: rgba(0,0,0,.7);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h2 class="mb-3">We are the public protecting firm of attorneys</h2>
                    <p class="mb-5">Friday 17/10/2018, 8:00 am</p>
                    <div class="row">
                        <div class="col-md-4">
                            <hr class="mx-5" style="opacity: 1;">
                            <h2 class="display-4 font-weight-bold">
                                <strong>20</strong>
                            </h2>
                            <hr class="mx-5" style="opacity: 1;">
                            <p class="font-weight-bold text-uppercase mb-0">days</p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="display-4 font-weight-bold mx-4 py-3 my-3" style="background-color: rgba(255,255,255,.2);">
                                <strong>12</strong>
                            </h2>
                            <p class="font-weight-bold text-uppercase pt-1 mb-0">hours</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="mx-5" style="opacity: 1;">
                            <h2 class="display-4 font-weight-bold">
                                <strong>35</strong>
                            </h2>
                            <hr class="mx-5" style="opacity: 1;">
                            <p class="font-weight-bold mb-0">MINS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--Section: Design Block-->