<section class="text-center mb-10">

    <h2 class="mb-4">Welcome to Open Door Legal Firm</h2>

    <p class="mb-5 text-uppercase text-muted">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse eveniet minus quia! Ad, aliquid, at aut ducimus error ipsum libero maxime mollitia neque nulla, numquam quos repellat sed velit veniam.
    </p>

    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="row mb-5">
                <div class="col-12">
                    <i class="fas fa-home fa-3x text-primary mt-3"></i>
                    <h5 class="card-title my-4">100% Natural</h5>
                    <p class="card-text">Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <i class="fas fa-umbrella fa-3x text-primary mt-3"></i>
                    <h5 class="card-title my-4">Always fresh</h5>
                    <p class="card-text">Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center">
            <img src="/assets/attorney-image.png" alt="Welcome to Open Door Legal Firm" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="row mb-5">
                <div class="col-12">
                    <i class="fas fa-users fa-3x text-primary mt-3"></i>
                    <h5 class="card-title my-4">Organic products</h5>
                    <p class="card-text">Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <i class="fas fa-tachometer-alt fa-3x text-primary mt-3"></i>
                    <h5 class="card-title my-4">Best Quality</h5>
                    <p class="card-text">Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>
        </div>
    </div>

</section>