<div id="intro" class="bg-image" style="
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(https://www.bestagencies.co.uk/wp-content/uploads/2020/08/Law-Firm.jpg) no-repeat center center;
    background-size: cover;
    height: 90vh;">
    <div class="mask">
        <div class="container d-flex justify-content-center align-items-center h-100">
            <div class="row align-items-center text-white">
                <div class="col-md-8 my-5">
                    <h1 class="display-4 fw-bold">Open Door Legal</h1>
                    <hr class="my-4">
                    <p class="lead mb-5">
                        We’re an award-winning nonprofit working to show that poverty will be dramatically reduced when everyone has access to the law.
                    </p>
                    <button type="button" class="btn btn-light btn-lg me-1" data-mdb-ripple-init>Download</button>
                    <button type="button" class="btn btn-light btn-lg ms-1" data-mdb-ripple-init>Learn more</button>
                </div>
                <div class="col-md-4">
                    <img src="/assets/attorney.png" alt="Open Door Legal" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>