<!--Section: Design Block-->
<section class="text-center mb-9">
    <div class="row mb-4">
        <div class="col-12">
            <h3 class="mb-4">Here Are Our Client Testimonials</h3>
            <h6 class="mb-5 text-uppercase text-muted">You can Write Us A Review <a href="#!">Here</a>.</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-md-0 mb-4">
            <img class="rounded-circle shadow-1-strong mb-4"
                 src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="avatar" style="width: 150px;" />
            <h5 class="mb-3">Anna Deynah</h5>
            <p>
                <i class="fas fa-quote-left pe-2"></i>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod id officiis hic tenetur quae quaerat ad
                velit.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-md-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star-half-alt fa-sm"></i></li>
            </ul>
        </div>
        <div class="col-md-4 mb-md-0 mb-4">
            <img class="rounded-circle shadow-1-strong mb-4"
                 src="https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg" alt="avatar" style="width: 150px;" />
            <h5 class="mb-3">John Doe</h5>
            <p>
                <i class="fas fa-quote-left pe-2"></i>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-md-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
            </ul>
        </div>
        <div class="col-md-4 mb-0">
            <img class="rounded-circle shadow-1-strong mb-4"
                 src="https://mdbootstrap.com/img/Photos/Avatars/img%20(19).jpg" alt="avatar" style="width: 150px;" />
            <h5 class="mb-3">Maria Kate</h5>
            <p>
                <i class="fas fa-quote-left pe-2"></i>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis deleniti atque corrupti.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="far fa-star fa-sm"></i></li>
            </ul>
        </div>
    </div>

</section>
<!--Section: Design Block-->